body {
  background: var(--background-color);
  margin: 0;
  font-family: var(--secondary-font-family);
  color: var(--text-color);
}

body, html {
  height: 100%;
  padding: 0;
}

body.programs .header {
  background: url('../images/programs-banner.png') no-repeat center center;
  background-size: cover;
  background-attachment: scroll; /* override 'fixed' */
  height: auto; /* or whatever height you want */
}

body.programs header {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  position: relative; /* was absolute/fixed on home, change to relative here */
  top: auto;
  left: auto;
  width: 100%;
  z-index: 100;
}

body.programs nav {
  display: block;
}

body.programs nav svg {
  display: block;
  width: 100vw;
  height: auto;
  padding: 0;
  margin: 0;
}

main {
  background-color: var(--secondary-background-color)
}

#section-header-and-text {
   /* max-width: 1200px; */
  width: 60%;
  margin: 0 auto;
  padding: 20px 20px;
  font-family: var(--secondary-font-family);
  color: var(--text-color);
  background-color: var(--secondary-background-color); /* Adjust to your brand background blue */
  text-align: center;
}

#section-header {
  font-size: 24px;
  font-weight: bold;
  color: var(--accent-color); /* Golden accent color for section title */
  margin-bottom: 20px;
  font-family: var(--primary-font-family);
}

.program-section {
  border-top: 1px solid var(--accent-color);
  padding: 25px;
  width: 60%;
  margin: 0 auto;
}

.program-section.first {
  border-top: none; /* removes yellow line above first section */
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}

.content.reverse {
  flex-direction: row-reverse;
}

.program-img {
  width: 300px;
  max-width: 100%;
  margin: 10px;
}

.text-block {
  flex: 1;
  margin: 10px;
}

.text-block h2 {
  font-family: var(--primary-font-family);
}

h2 {
  color: var(--accent-color);
  margin-top: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo-url {
  display: flex;
  align-items: center; /* vertical alignment */
  gap: 10px; /* spacing between logo and url text */
  margin-top: 15px;
}

.logo-img {
  width: 50px; /* adjust as needed */
  max-width: 100%;
}

@media (max-width: 768px) {
  .content, .content.reverse {
    flex-direction: column;
    text-align: center;
  }

  .text-block {
    margin-top: 20px;
  }

  .logo-url {
    justify-content: center;
  }
}